@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap");

:root {
  --font-Pacifico: "Pacifico", cursive;
  --font-Raleway: "Raleway", sans-serif;
  --color-dark_grey: #262626;
  --color-light-grey: #b9b9b9;
  --color-purple: #b07cf7;
  --color-orange: #ff6033;
  --color-blue: #355b82;
  --color-light_blue: #70bfff;
  --color-green: #96b92c;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

/* Main Styles */

html {
  scroll-behavior: smooth;
  /* плавное поведение якорей */
}

body {
  font: 300 17px var(--font-Raleway);
}

/* HEADER */

.header {
  min-height: 100vh;
  background: fixed url(../images/header_bg.jpg) no-repeat center center;
  background-size: cover;
  color: var(--color-dark_grey);
  padding-bottom: 1px;
}

.header__nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15vh;
}

.logo {
  font: 400 50px var(--font-Pacifico);
  color: var(--color-dark_grey);
  text-decoration: none;
  transition: all 0.5s;
}

.logo:active {
  color: var(--color-purple);
}

.menu {
  display: flex;
}

.menu__item {
  margin-left: 35px;
}

.menu__link {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-dark_grey);
  text-transform: uppercase;
  text-decoration: none;
  border-top: 3px solid transparent;
}

.button {
  display: block;
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button--orange {
  color: #fff;
  background: var(--color-orange);
  transition: all 0.5s;
}

.header__scroll {
  text-align: center;
  margin-bottom: 20px;
}

.scroll {
  display: inline-block;
}

.scroll:hover {
  animation: animationFrames linear 2.5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* ABOUT */

.about {
  min-height: 100%;
  background: #00b0b0;
  color: #fff;
}

.about__wrapper {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.title {
  font: 700 90px var(--font-Raleway);
}

.about__img {
  display: block;
  min-width: 585px;
  min-height: 585px;
  margin: auto 0;
}

.about__info {
  max-width: 500px;
  margin: auto 0;
}

.about__text {
  margin: 10px 0;
}

/* SERVICES */

.services {
  min-height: 100%;
  background: var(--color-light_blue);
  color: var(--color-dark_grey);
}

.services__wrapper {
  width: 100%;
  height: 790px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.services__description {
  background: url(../images/tomato.png) center no-repeat;
  display: flex;
  align-items: center;
}

.title--white {
  color: #fff;
}

.services__list {
  margin: auto 0;
  margin-left: 100px;
}

.services__item {
  width: 400px;
  height: 100px;
  background: #fff;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

.services__title {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services__img {
  width: 100px;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
}

.services__img::before {
  content: "";
  height: 100%;
  width: 1px;
  background: var(--color-light-grey);
  position: absolute;
  right: 100px;
}

/* GALLERY */

.gallery {
  background: #ffe92f;
  min-height: 1450px;
  min-height: 100%;
  color: var(--color-dark_grey);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
}

.gallery__description {
  padding: 0 25%;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 45px;
}

.gallery__posts {
  margin-bottom: 50px;
  transition: all 0.3s;
}

.gallery__item {
  display: flex;
  flex-grow: 1;
  margin-bottom: 29px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.gallery__link {
  overflow: hidden;
}

.gallery__img {
  width: 100%;
  min-height: 100%;
  transition: all 0.3s;
}

.button--blue {
  margin: 0 auto;
  background: var(--color-blue);
  color: #fff;
  transition: all 0.3s;
}

/* SUBSCRIBE */

.subscribe {
  max-height: 100%;
  background: url(../images/subscribe_bg-mobile.jpg) no-repeat center;
  background-size: cover;
  color: var(--color-dark_grey);
}

.subscribe__wrapper {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title--small {
  font-size: 40px;
}

.subscribe__text {
  width: 48%;
  margin: 30px 0;
}

.subscribe__form {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.subscribe__field {
  width: 70%;
  height: 55px;
  border: 1px solid var(--color-dark_grey);
  padding-left: 15px;
  margin: 0 15px 15px 0;
}

.subscribe__input {
  display: inline-block;
  min-width: 100%;
  height: 100%;
}

.subscribe__input::placeholder {
  font: 300 15px var(--font-Raleway);
}

.button--green {
  background: var(--color-green);
  color: #fff;
  transition: all 0.3s;
}

/* BLOG */

.blog {
  background: var(--color-purple);
  color: #fff;
  min-height: 870px;
  padding-top: 100px;
}

.title--center {
  text-align: center;
}

.blog__about {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 25px;
}

.blog__wrap {
  margin-bottom: 80px;
}

.blog__post {
  position: relative;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.blog__link {
  display: block;
  width: 100%;
  height: 310px;
  background-size: cover;
  overflow: hidden;
}

.blog__img {
  transition: all 0.3s;
  width: 100%;
}

.blog__post:hover .blog__img {
  transform: scale(1.1);
}

.blog__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

.blog__date {
  font: 900 21px var(--font-Raleway);
  text-transform: uppercase;
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 5px;
  line-height: 15px;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}

.blog__day {
  font: 700 32px var(--font-Raleway);
}

.blog__title {
  font: 700 20px var(--font-Raleway);
  margin: 115px 15px 20px 20px;
}

.blog__author {
  font: 300 13px var(--font-Raleway);
  margin-bottom: 20px;
  margin-left: 20px;
}

.blog__author-link {
  text-decoration: none;
  color: #fff;
}

.button--red {
  color: #fff;
  background: #f72b3b;
  margin: 0 auto;
  transition: all 0.5s;
}

.button--red:hover {
  color: #f72b3b;
  background: #fff;
}

/* CONTACT */

.contact {
  min-height: 865px;
  background: fixed url(../images/contact_bg.jpg) center center/cover no-repeat;
  color: var(--color-dark_grey);
  padding-top: 100px;
}

.contact__about {
  max-width: 370px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
  line-height: 25px;
}

.contact__wrap {
  display: flex;
}

.field input,
.field textarea {
  background: rgba(0, 196, 196, 0.5);
  font: 300 17px var(--font-Raleway);
  color: #fff;
  width: 500px;
  padding: 15px 25px;
  margin-bottom: 15px;
  transition: all 0.3s;
}

.field input:focus,
.field textarea:focus {
  background: #00c4c4;
  border-left: 5px solid #355b82;
  font-weight: 700;
}

.field input:focus::-ms-input-placeholder,
.field textarea:focus::-ms-input-placeholder {
  display: inline;
}

.field input::placeholder,
.field textarea::placeholder {
  color: #fff;
}

.submit {
  font: 300 17px var(--font-Raleway);
  cursor: pointer;
}

.contact__info {
  margin-left: 170px;
}

.contact__data {
  margin-bottom: 20px;
}

.contact__type {
  text-transform: uppercase;
  font: 700 15px var(--font-Raleway);
  margin-bottom: 10px;
}

.contact__link {
  text-decoration: none;
  color: var(--color-dark_grey);
}

/* FOOTER */

.footer {
  min-height: 100%;
  background: var(--color-dark_grey);
  color: var(--color-light-grey);
  font-size: 16px;
}

.footer__wrapper {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.logo--light {
  font-size: 25px;
  color: var(--color-light-grey);
}

.footer__author--red {
  color: #f12b55;
}

@media (max-width: 736px) {
  body {
    font-size: 15px;
  }

  .header__nav {
    align-items: start;
  }

  .logo {
    font-size: 40px;
  }

  .logo--light {
    font-size: 25px;
  }

  .menu {
    flex-direction: column;
    margin-top: 20px;
  }
  .menu__item {
    margin-bottom: 20px;
  }

  .header__title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .header__description {
    margin-bottom: 30%;
    padding-right: 30%;
  }

  .scroll {
    display: none;
  }

  .title {
    font-size: 50px;
  }

  .title--small {
    font-size: 30px;
  }

  .services {
    background: url(../images/tomato.png) center no-repeat;
    background-color: var(--color-light_blue);
  }

  .services__wrapper {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
  }

  .services__description {
    background: none;
  }

  .services__list {
    margin: 30px 0 0;
  }

  .services__item {
    width: 330px;
    height: 80px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .services__img {
    font-size: 40px;
    width: 80px;
  }

  .services__img::before {
    right: 80px;
  }

  .gallery {
    padding: 30px 0;
  }

  .gallery__description {
    padding: 0;
  }

  .subscribe__form,
  .subscribe__field {
    width: 100%;
  }

  .subscribe__form {
    flex-wrap: wrap;
  }

  .blog {
    padding: 30px 0;
  }

  .blog__about {
    margin-top: 25px;
  }

  .blog__wrap {
    margin-bottom: 30px;
  }

  .contact {
    padding: 30px 0;
  }

  .contact__wrap {
    flex-wrap: wrap;
  }

  .field input,
  .field textarea {
    width: 100%;
  }

  .contact__info {
    margin: 30px 0 0;
  }

  .footer {
    font-size: 12px;
  }

  .rights,
  .footer__author {
    width: 30%;
  }

  .footer__author {
    text-align: right;
  }
}

@media (min-width: 415px) and (max-width: 736px) {
  .header__title {
    margin-bottom: 20px;
  }

  .header__description {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .services__wrapper {
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  .services__description {
    text-align: center;
  }

  .gallery__item {
    max-width: 414px;
    margin: 20px auto;
  }

  .subscribe__field {
    width: 70%;
  }

  .subscribe__form {
    flex-wrap: nowrap;
  }
}

@media (min-width: 737px) {
  .logo:hover {
    color: var(--color-purple);
    transform: scale(1.1);
  }

  .menu__link:hover {
    border-top-color: var(--color-orange);
  }

  .button:hover {
    color: var(--color-orange);
    background: #fff;
  }

  .services__item:hover {
    transform: scale(1.1);
  }

  .services__item:hover .services__img {
    color: var(--color-green);
  }
  .gallery__posts:hover .gallery__item {
    opacity: 0.5;
  }

  .gallery__posts:hover .gallery__item:hover {
    opacity: 1;
  }

  .gallery__item:hover .gallery__img {
    transform: scale(1.1);
  }

  .button--blue:hover {
    background: #fff;
    color: var(--color-blue);
  }

  .subscribe {
    background-image: url(../images/subscribe_bg.jpg);
  }

  .button--green:hover {
    background: var(--color-blue);
    color: #fff;
  }
}

/* IE */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    font-family: "Raleway", sans-serif;
    color: #262626;
  }

  .logo {
    font-family: "Pacifico", cursive;
    color: #262626;
    width: 100%;
  }

  .logo:hover {
    color: #b07cf7;
    transform: none;
  }

  .menu__link {
    color: #262626;
    transition: all 0.5s;
  }

  .menu__link:hover {
    border-top-color: #ff6033;
  }

  .button--orange {
    background: #ff6033;
  }

  .button:hover {
    color: #ff6033;
  }

  .title {
    font-family: "Raleway", sans-serif;
  }

  .about__info {
    margin-top: 200px;
  }

  .services {
    background: #70bfff;
  }

  .services__list {
    margin: 200px 0 200px 100px;
  }

  .services__img::before {
    background: #b9b9b9;
    top: 0;
  }

  .services__item:hover .services__img {
    color: #96b92c;
  }

  .button--blue {
    background: #355b82;
  }

  .button--blue:hover {
    color: #355b82;
  }

  .subscribe__field {
    border: 1px solid #262626;
  }

  .subscribe__input {
    font-family: "Raleway", sans-serif;
  }

  .button--green {
    background: #96b92c;
    color: #fff;
  }

  .button--green:hover {
    background: #fff;
    color: #96b92c;
  }

  .blog {
    background: #b07cf7;
  }

  .field input,
  .field textarea {
    font-family: "Raleway", sans-serif;
  }

  .submit {
    font-family: "Raleway", sans-serif;
  }

  .blog__date,
  .blog__day,
  .blog__title,
  .blog__author {
    font-family: "Raleway", sans-serif;
  }

  .contact__type {
    font-family: "Raleway", sans-serif;
  }

  .contact__link {
    color: currentColor;
  }

  .footer,
  .logo--light {
    background-color: #262626;
    color: #b9b9b9;
  }

  .footer__wrapper {
    text-align: center;
  }

  .rights,
  .footer__author {
    width: 45%;
  }
}
